@using Entities
@using Entities.DTO
    
@model List<CompraDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Compras</h1>

<a asp-controller="Compra" asp-action="Cargar" class="btn btn-primary">Nueva Compra</a>

<form asp-action="Index" asp-controller="Compra" class="row row-cols-lg-auto g-3 align-items-center">
    <div class="input-group">
        <div class="form-outline" data-mdb-input-init>
            <input type="search" name="buscar" id="form1" class="form-control" />
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Search</button>
    </div>
</form>

<div class="col-sm-12 table-responsive table-condensed table-sm" style="font-size:small">
<table class="table table-hover" id="dataTableCompras">
<thead class="thead-light">
    <tr>
        
        
        <th>@Html.ActionLink("Producto", "Index", new { sortOrder = ViewBag.NameSortParm })</th>
        <th>@Html.ActionLink("Fecha de Compra", "Index", new { sortOrder = ViewBag.DateSortParm })</th>
        <th>Cantidad</th>
      
       
    </tr>
</thead>
<tbody>
    @foreach (var c in Model)
    {
        <tr>
            <td>
                @c.Producto
            </td>
            <td>
                @c.FechaCompra.ToString("dd/MM/yyyy")
            </td>
         
            <td>
               @c.Cantidad
            </td>
           
            
        </tr>
    }
</tbody>

</table>
</div>