@using Entities
@using Entities.DTO
    
@model X.PagedList.IPagedList<VentaDTO>
@using X.PagedList;
@using X.PagedList.Mvc.Core;

<link rel="stylesheet" href="~/css/site.css" />

@{
    ViewData["Title"] = "Index";
    ViewBag.Title = "Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Ventas</h1>

<a asp-controller="Venta" asp-action="Cargar" class="btn btn-primary mb-3">Nueva Venta</a>

<form asp-action="Index" asp-controller="Venta" class="row row-cols-lg-auto g-3 align-items-center">
    <div class="input-group">
        <div class="form-outline" data-mdb-input-init>
            <input type="search" name="buscar" id="form1" class="form-control" />
        </div>
        <button type="submit" class="btn btn-sm btn-primary">Search</button>
    </div>
</form>

<div class="col-sm-12 table-responsive table-condensed table-sm" style="font-size:small">
<table class="table table-hover" id="dataTableVentas">
<thead class="thead-light">
    <tr>
        
        
        <th>@Html.ActionLink("Producto", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter=ViewBag.CurrentFilter })</th>
        <th>@Html.ActionLink("Fecha de Venta", "Index", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilte })</th>
        <th>Cantidad</th>
      
       
    </tr>
</thead>
<tbody>
    @foreach (var v in Model)
    {
        <tr>
            <td>
                @v.Producto
            </td>
            <td>
                @v.FechaVenta.ToString("dd/MM/yyyy")
            </td>
         
            <td>
               @v.Cantidad
            </td>
           
            
        </tr>
    }
</tbody>

</table>
 <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
